body {
    text-align: center;
    margin: 0px;
    padding: 0px;

    /*FUENTES (FONTS)*/
    font-family:  'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiasted;
    -moz-font-smoothing: antialiasted;
    -moz-osx-font-smoothing: antialiasted;
}

#header{
    height:120px;
    width:100%;
    background: white;
    border-bottom: 1px solid #CCC;
    border-top: 5px solid #61dafb;
    
}


.center{
    width:75%;
    margin:0px auto;
}

.clearfix{
    clear:both;
    float:none;
}

#logo {
    width:30%;
    font-size:26px;
    float:left;
    margin-top:35px;
}

#logo img{
    display: block;
    float:left;
    height:60px;
    margin-top:-9px;
    margin-right: 11px;
    animation: girar infinite 20s linear;
}

@keyframes girar {
    from{
        transform:rotate(0deg);
    }
    to{
        transform:rotate(360deg);
    }
}

#brand {
    display: block;
    margin: 0px;
    float: left;
}

#menu {
    width:70%;
    float:right;
    font-size: 18px;
}

#menu ul{
    line-height: 85px;
    width:60%;
    float: right;
}

#menu ul li{
    display:inline-block;
    list-style: none;
    height:46px;
    margin-left:10px;
    margin-right:10px;

}

#menu a {
    text-decoration: none;
    color:#444;
    transition: 300ms all;
}

#menu a:hover{
    color:#61dafb;
}

#slider {
    width:100%;
    height:350px;
    line-height: 320px;
    color:white;
    text-shadow: 0px 0px 5px #444;

/*DEGRADADO CSS*/

    background: rgba(95,168,236,1);
    background: -moz-radial-gradient(center, ellipse cover, rgba(95,168,236,1) 0%, rgba(50,134,231,1) 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(95,168,236,1)), color-stop(100%, rgba(50,134,231,1)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(95,168,236,1) 0%, rgba(50,134,231,1) 100%);
    background: -o-radial-gradient(center, ellipse cover, rgba(95,168,236,1) 0%, rgba(50,134,231,1) 100%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(95,168,236,1) 0%, rgba(50,134,231,1) 100%);
    background: radial-gradient(ellipse at center, rgba(95,168,236,1) 0%, rgba(50,134,231,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5fa8ec', endColorstr='#3286e7', GradientType=1 );
}

#slider h1 {
    margin-top: 0.2px;
    padding:0px;
    text-align: center;
}

.btn-white{  
    display: block;
    background: white;
    color: #444;
    padding: 10px;
    width:100px;
    height:35px;
    margin:0px auto;
    margin-top: -140px;
    font-size: 18px;
    text-transform: uppercase;
    text-shadow: none;
    text-decoration: none;
    line-height: 35px;
    box-shadow: 0px 0px 5px #444;
    border-radius:4px;

}

.btn-white:hover {
    background: #444;
    color: white;
    transition: 300ms all;
}

#slider.slider-small {
    display: block;
    height:180px;
    
  
    
    
}

#slider.slider-small h1 {
    display:block;
    margin:0px auto;
    line-height: 3em;
    margin-top: 0.2px;
    padding:53px;
    border:none;
}

#content {
    width:70%;
    float:left;
    min-height: 650px;
    margin-right:25px;    
}

#sidebar{
    width:25%;
    float:left;
    
}

.sidebar-item {
    background: #f7f7f7;
    padding:20px;
    margin-top:30px;
}

.sidebar-item h3 {
    text-transform: uppercase;
    font-size:18px;
    margin:0px;
    padding-bottom:10px;
    margin-bottom:10px;
    border-bottom:3px solid #eee;
}

.sidebar-item.btn {
    
    margin-top:10px;
    }

.btn {
    margin:0 auto;
    display:block;
    background: black;
    color:white;
    padding:15px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    text-decoration: none;
    max-width: 120px;
    transition:300ms all;
    border:none;
    cursor:pointer;
}

.btn-success{
    background:rgb(23,150,19);
}

.btn-success:hover{
    background: black;
}

.mid-form {
    width: 60%;
    margin: 0 auto;
}

.mid-form label{
    display:block;
    float:left;
    text-align: left;
    margin-top:10px;
    margin-bottom:3px;
    font-size:17px;
}

input[type="text"],
textarea{
    width:100%;
    min-height:30pz;
    border:1px solid #ccc;
    padding:3px;
    margin-bottom:7px;
    transition:300ms all;
}

input[type="text"]:focus,
textarea:focus {
    box-shadow:0px 0px 5px #ccc inset;
}


textarea {
    width: 100%;
    height:150px;
    min-width:100%;
    max-width:100%;
    min-height:150px;
    max-height:300px;
}

.radiobuttons {
    margin-top:10px;
    margin-bottom: 15px;
    
    
}


#footer {
    background: #f7f7f7;
    width:100%;
    height:70px;
    line-height:70px;
    color:#444;
}

#footer p {
    margin:0px;
    padding:0px;
}

.article-item {
    width:100%;
    border-bottom:1px solid #eee;
    padding-bottom:20px;
    padding-top:20px;
    text-align: left;
}

.article-item .image-wrap {
    width:130px;
    height:130px;
    overflow:hidden;
    float:left;
    margin-right:15px;
    border: 1px solid #ccc;
}

.article-item .image-wrap img {
    text-align:center ;
    height:140%;
}

.article-item h2 {
    display: block;
    width:100%;
    padding:0px;
    margin:0px;
    margin-bottom: 7px;
}

.article-item .date {
    display: block;
    width: 100%;
    color:rgb(122,122,122);
}

.article-item a {
    display: block;
    color:#444;
    text-decoration: none;
    margin-top: 10px;
}

.article-item a:hover {
    text-decoration: underline;
}

.subheader {
    font-size:38px;
    border-bottom: 1px solid #eee;
    padding:10px;
}

.article-detail .image-wrap{
    float:none;
    width:100%;
    height:300px;
    
}


.article-detail.image-wrap img{
   width:100%;
   height:auto;
}

.article-detail .subheader{
    margin-top: 15px;
    margin-bottom: 0px;
    border:none;
    margin-left: -10px;
}


/* RESPONSIVE* /

/* Desde la width 0px hasta la width 1488px de pantalla */
@media (max-width:1400px){
    /* Se ejecutaran estos estilos */
    .center {
        width:85%;
    }
}

@media (max-width:1300px) {
    .center {
        width: 95%;
    }


   #logo{
       float:none;
       width:240px;
       margin:0px auto;
       margin-top:20px;
   }

    #menu, 
    #menu ul {
        clear: both;
        float:none;
        width:100%;
        margin:0px;
        padding:0px;
        line-height: 43px;
    }
    #content {
        float:none;
        width:100%;
    }
    #sidebar{
        float:none;
        width:60%;
        margin:0px auto;
        margin-bottom: 50px;

    }
    #slider h1 {
        font-size:30px;
    }

}


@media (max-width:497px){
    #header{
        min-height:130px;
        overflow:hidden;
    }
    #menu,
    #menu ul {
        line-height: 50px;
    }
    #menu ul li {
        margin-left:7px;
        margin-right: 7px;
    }
    #slider{
        height:180px;
    }
    #slider h1 {
        font-size: 19px;
        padding-top:30px;
    }
    #slider .btn-white{
        margin-top: 20px;
    }
    #slider.slider-small{
        height:100px;
    }
    #slider.slider-small h1{
        padding-top:35px;
    }

    .mid-form {
        width:70%;
    }
}



